/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial ;
}

body {
    background-color: #F6F8F9;
    }

/* header */
 header{
    background-color: white;
    height: 80px;
 }

 .titolo{
    display: inline-block;
    vertical-align: middle;
    font-weight: bolder;
    font-size: 40px;    
    
}
.logo{
    vertical-align: middle;
    margin: 15px;
}
/* main */
main{
    
    width: 70%;
    margin: 30px auto;
}
.container{
    height: 55px;
    margin-bottom: 3px;    
    background-color: white;
}

.riga-link{
    padding-left: 40px;
    padding-top: 20px;
}
link{
    border-radius: 5px;
    padding: 7px;
    text-decoration: none;
}
.primo-link{
    background-color: #45abea;   
    color: white;
    border-radius: 5px;
    padding: 7px;
    text-decoration: none;
    margin: 20px auto;
    border: 1px solid #45abea;
}
.secondo-link{
    background-color: white;
    color: grey;
    border-radius: 5px;
    padding: 7px;
    text-decoration: none;
    border: 1px solid grey;
}

.container1{
    padding-left: 10px;
    padding-top: 15px;    
    padding-bottom: 40px;
    background-color: white;
    

}
ul{
    list-style-type: none;
    margin: 10px;
}
li{
    margin-left: 20px;
    margin-top: 20px;
    
}
.to-do{
    margin-left: 0px;
    font-size: 20px;
}
.entity{
    vertical-align: middle;
}
.check-entity{
    vertical-align: middle;
    font-size: 13px;
    color: lightgreen;
    width: 20px;
    height: 20px;
    border: 2px solid lightgreen;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 20px;

}
.cross-entity{
    vertical-align: middle;   
    color: red;
    width: 20px;
    height: 20px;
    border: 2px solid red;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 7px;
}
ul h2{
    display: inline-block;
    vertical-align: middle;
}
.terzo-link{
    
    color: white;
    border-radius: 50px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    margin: 20px auto;    
    font-size: 13px;
}
.celeste{
    background-color: #45abea;
    border: 1px solid #45abea;
}
.viola{    
    background-color: #9c72e4;
    border: 1px solid #9c72e4;
}
.verde{    
    background-color: #64c0a9;
    border: 1px solid #64c0a9;
}
.arancio{    
    background-color: #f29e33;
    border: 1px solid #f29e33;
}
.rosa{
    
    background-color: #d863a1;
    border: 1px solid #d863a1;
}
.verdino{
    background-color: #b0c926;
    border: 1px solid #b0c926;
}
